## Perform the following operations using Python on the Facebook metrics data sets 
a. Create data subsets 
b. Merge Data 
c. Sort Data 
d. Transposing Data 
e. Shape and reshape Data

In [8]:
import pandas as pd

In [9]:
import numpy as np

In [10]:
df=pd.read_csv('dataset_Facebook.csv');

In [11]:
df

    Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0    139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1    139441;Status;2;12;3;10;0;10460;19057;1457;136...
2    139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3    139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4    139441;Photo;2;12;2;3;0;7244;13594;671;410;580...
..                                                 ...
495  85093;Photo;3;1;7;2;0;4684;7536;733;708;985;47...
496  81370;Photo;2;1;5;8;0;3480;6229;537;508;687;39...
497  81370;Photo;1;1;5;2;0;3778;7216;625;572;795;47...
498  81370;Photo;3;1;4;11;0;4156;7564;626;574;832;4...
499  81370;Photo;2;1;4;4;;4188;7292;564;524;743;386...

[500 rows x 1 columns]

In [36]:
df.isnull().sum()

Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions    0
dtype: int64

In [13]:
df.head(5)

  Page total likes;Type;Category;Post Month;Post Weekday;Post Hour;Paid;Lifetime Post Total Reach;Lifetime Post Total Impressions;Lifetime Engaged Users;Lifetime Post Consumers;Lifetime Post Consumptions;Lifetime Post Impressions by people who have liked your Page;Lifetime Post reach by people who like your Page;Lifetime People who have liked your Page and engaged with your post;comment;like;share;Total Interactions
0  139441;Photo;2;12;4;3;0;2752;5091;178;109;159;...
1  139441;Status;2;12;3;10;0;10460;19057;1457;136...
2  139441;Photo;3;12;3;3;0;2413;4373;177;113;154;...
3  139441;Photo;2;12;2;10;1;50128;87991;2211;790;...
4  139441;Photo;2;12;2;3;0;7244;13594;671;410;580...

In [14]:
ds = pd.read_csv('dataset_Facebook.csv', delimiter=';')  # Assuming it's tab-separated

In [15]:
ds

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

### Creating 2 data subsets

In [16]:
subset1 = ds[ds['Page total likes'] <= 100000];

In [17]:
subset1

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
438,98195,Link,2,3,6,6,0.0,5730,10083,103,71,97,8964,4830,92,2,32.0,15.0,49
439,98195,Photo,1,3,6,3,0.0,4898,7960,560,528,719,6380,3730,363,1,76.0,9.0,86
440,98195,Photo,1,3,5,10,0.0,4118,7355,546,526,675,6423,3466,379,1,28.0,7.0,36
441,98195,Photo,1,3,5,4,1.0,1845,2670,9,9,9,1614,1008,9,0,0.0,0.0,0
442,98195,Photo,3,3,4,13,0.0,34480,191207,1591,1156,1926,184270,30720,1292,10,664.0,97.0,771
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,85093,Photo,3,1,7,2,0.0,4684,7536,733,708,985,4750,2876,392,5,53.0,26.0,84
496,81370,Photo,2,1,5,8,0.0,3480,6229,537,508,687,3961,2104,301,0,53.0,22.0,75
497,81370,Photo,1,1,5,2,0.0,3778,7216,625,572,795,4742,2388,363,4,93.0,18.0,115
498,81370,Photo,3,1,4,11,0.0,4156,7564,626,574,832,4534,2452,370,7,91.0,38.0,136
499,81370,Photo,2,1,4,4,NaN,4188,7292,564,524,743,3861,2200,316,0,91.0,28.0,119

In [18]:
subset2 = ds[ds['Page total likes'] > 100000];

In [19]:
subset2

,Page total likes,Type,Category,Post Month,Post Weekday,Post Hour,Paid,Lifetime Post Total Reach,Lifetime Post Total Impressions,Lifetime Engaged Users,Lifetime Post Consumers,Lifetime Post Consumptions,Lifetime Post Impressions by people who have liked your Page,Lifetime Post reach by people who like your Page,Lifetime People who have liked your Page and engaged with your post,comment,like,share,Total Interactions
0,139441,Photo,2,12,4,3,0.0,2752,5091,178,109,159,3078,1640,119,4,79.0,17.0,100
1,139441,Status,2,12,3,10,0.0,10460,19057,1457,1361,1674,11710,6112,1108,5,130.0,29.0,164
2,139441,Photo,3,12,3,3,0.0,2413,4373,177,113,154,2812,1503,132,0,66.0,14.0,80
3,139441,Photo,2,12,2,10,1.0,50128,87991,2211,790,1119,61027,32048,1386,58,1572.0,147.0,1777
4,139441,Photo,2,12,2,3,0.0,7244,13594,671,410,580,6228,3200,396,19,325.0,49.0,393
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
433,100732,Photo,1,3,6,17,0.0,11420,23855,1411,1342,8049,16634,8032,865,12,211.0,14.0,237
434,100732,Photo,1,3,6,15,0.0,5704,10510,452,450,2895,9348,5388,361,1,15.0,1.0,17
435,100732,Photo,1,3,6,15,0.0,7192,12811,587,554,3941,11519,6616,472,11,95.0,4.0,110
436,100732,Photo,1,3,6,13,1.0,9604,16557,1061,1037,9614,13618,7984,705,16,127.0,0.0,143
437,100732,Photo,1,3,6,10,0.0,122944,457509,1373,1268,2106,72846,13184,475,0,136.0,13.0,149

### Merge Data

In [20]:
merged_data = pd.merge(subset1, subset2,on='Type',how='inner')

In [21]:
merged_data.head(5)

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18
1,98195,Link,2,3,6,6,0.0,5730,10083,103,...,517,366,460,12078,6752,319,6,187.0,18.0,211
2,98195,Link,2,3,6,6,0.0,5730,10083,103,...,134,109,170,2330,1377,101,7,29.0,10.0,46
3,98195,Link,2,3,6,6,0.0,5730,10083,103,...,206,158,223,6734,3492,138,4,57.0,10.0,71
4,98195,Link,2,3,6,6,0.0,5730,10083,103,...,97,83,126,2307,1180,77,6,18.0,8.0,32

### Sort Data

In [37]:
sorted_data=merged_data.sort_values(by='Page total likes_x', ascending=True)

In [38]:
sorted_data

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
20815,81370,Photo,2,1,4,4,NaN,4188,7292,564,...,1373,1268,2106,72846,13184,475,0,136.0,13.0,149
19848,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,393,348,476,3332,1788,297,11,68.0,11.0,90
19849,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,374,335,458,3247,1740,278,0,62.0,10.0,72
19850,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,544,405,602,4046,2280,368,5,223.0,35.0,263
19851,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,330,280,352,2293,1354,234,0,61.0,6.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1382,1229,1871,32470,16480,760,9,197.0,28.0,234
1082,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,985,705,940,8419,5840,594,4,330.0,29.0,363
1083,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,884,715,1034,2289,1408,340,0,148.0,7.0,155
1074,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1160,1138,2042,20024,10568,920,5,54.0,7.0,66
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18

In [40]:
sort_data=sorted_data

In [41]:
sort_data

,Page total likes_x,Type,Category_x,Post Month_x,Post Weekday_x,Post Hour_x,Paid_x,Lifetime Post Total Reach_x,Lifetime Post Total Impressions_x,Lifetime Engaged Users_x,...,Lifetime Engaged Users_y,Lifetime Post Consumers_y,Lifetime Post Consumptions_y,Lifetime Post Impressions by people who have liked your Page_y,Lifetime Post reach by people who like your Page_y,Lifetime People who have liked your Page and engaged with your post_y,comment_y,like_y,share_y,Total Interactions_y
20815,81370,Photo,2,1,4,4,NaN,4188,7292,564,...,1373,1268,2106,72846,13184,475,0,136.0,13.0,149
19848,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,393,348,476,3332,1788,297,11,68.0,11.0,90
19849,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,374,335,458,3247,1740,278,0,62.0,10.0,72
19850,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,544,405,602,4046,2280,368,5,223.0,35.0,263
19851,81370,Photo,1,1,5,2,0.0,3778,7216,625,...,330,280,352,2293,1354,234,0,61.0,6.0,67
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1382,1229,1871,32470,16480,760,9,197.0,28.0,234
1082,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,985,705,940,8419,5840,594,4,330.0,29.0,363
1083,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,884,715,1034,2289,1408,340,0,148.0,7.0,155
1074,98195,Photo,1,3,5,4,1.0,1845,2670,9,...,1160,1138,2042,20024,10568,920,5,54.0,7.0,66
0,98195,Link,2,3,6,6,0.0,5730,10083,103,...,118,104,130,6282,3100,106,0,16.0,2.0,18

### Transposing Data

In [29]:
transpo_data=sorted_data.transpose()

In [30]:
transpo_data

,0,1058,1056,1055,1054,1053,1052,1051,1050,1049,...,19832,19831,19830,19829,19828,19827,19826,19825,19824,20815
Page total likes_x,98195,98195,98195,98195,98195,98195,98195,98195,98195,98195,...,81370,81370,81370,81370,81370,81370,81370,81370,81370,81370
Type,Link,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,...,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo,Photo
Category_x,2,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,2
Post Month_x,3,3,3,3,3,3,3,3,3,3,...,1,1,1,1,1,1,1,1,1,1
Post Weekday_x,6,5,5,5,5,5,5,5,5,5,...,5,5,5,5,5,5,5,5,5,4
Post Hour_x,6,4,4,4,4,4,4,4,4,4,...,2,2,2,2,2,2,2,2,2,4
Paid_x,0.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
Lifetime Post Total Reach_x,5730,1845,1845,1845,1845,1845,1845,1845,1845,1845,...,3778,3778,3778,3778,3778,3778,3778,3778,3778,4188
Lifetime Post Total Impressions_x,10083,2670,2670,2670,2670,2670,2670,2670,2670,2670,...,7216,7216,7216,7216,7216,7216,7216,7216,7216,7292
Lifetime Engaged Users_x,103,9,9,9,9,9,9,9,9,9,...,625,625,625,625,625,625,625,625,625,564
Lifetime Post Consumers_x,71,9,9,9,9,9,9,9,9,9,...,572,572,572,572,572,572,572,572,572,524
Lifetime Post Consumptions_x,97,9,9,9,9,9,9,9,9,9,...,795,795,795,795,795,795,795,795,795,743
Lifetime Post Impressions by people who have liked your Page_x,8964,1614,1614,1614,1614,1614,1614,1614,1614,1614,...,4742,4742,4742,4742,4742,4742,4742,4742,4742,3861
Lifetime Post reach by people who like your Page_x,4830,1008,1008,1008,1008,1008,1008,1008,1008,1008,...,2388,2388,2388,2388,2388,2388,2388,2388,2388,2200
Lifetime People who have liked your Page and engaged with your post_x,92,9,9,9,9,9,9,9,9,9,...,363,363,363,363,363,363,363,363,363,316
comment_x,2,0,0,0,0,0,0,0,0,0,...,4,4,4,4,4,4,4,4,4,0
like_x,32.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,93.0,91.0
share_x,15.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,18.0,28.0
Total Interactions_x,49,0,0,0,0,0,0,0,0,0,...,115,115,115,115,115,115,115,115,115,119
Page total likes_y,138414,126424,126424,127082,128032,128032,128032,128032,128032,128032,...,135428,135617,135617,135617,135617,135700,135700,135700,135700,100732
Category_y,1,3,3,1,1,2,1,1,1,3,...,1,3,2,3,2,2,3,2,2,1
Post Month_y,12,7,7,7,7,7,7,7,7,7,...,9,9,9,9,9,9,9,9,9,3
Post Weekday_y,7,3,4,3,3,4,4,5,6,6,...,5,6,7,7,1,1,2,2,3,6
Post Hour_y,10,4,12,3,10,5,9,3,3,13,...,10,10,3,9,3,10,2,11,7,10
Paid_y,0.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
Lifetime Post Total Reach_y,3454,2316,5458,76096,66976,53056,3414,6408,7232,2628,...,1060,7512,3992,9384,2055,5086,2656,3756,1685,122944
Lifetime Post Total Impressions_y,6853,3611,9098,94644,111502,65260,6050,11881,12735,4264,...,2004,13633,7255,14948,3915,9493,4862,7094,2999,457509
Lifetime Engaged Users_y,118,722,1007,2889,1191,2003,515,909,758,528,...,266,769,598,757,346,622,390,469,322,1373
Lifetime Post Consumers_y,104,716,933,2495,1054,1412,493,861,700,503,...,251,614,447,452,288,509,309,408,295,1268
Lifetime Post Consumptions_y,130,862,1181,4596,1641,2089,710,14974,1236,652,...,337,951,688,652,412,757,445,613,424,2106
Lifetime Post Impressions by people who have liked your Page_y,6282,2545,5307,31096,40203,23679,5005,7243,8855,3086,...,1705,5503,4428,11148,2970,6200,3273,4935,1794,72846
Lifetime Post reach by people who like your Page_y,3100,1529,3204,19744,19968,17104,2704,4040,4712,1846,...,870,3260,2420,7020,1507,3298,1722,2556,953,13184
Lifetime People who have liked your Page and engaged with your post_y,106,372,537,1276,708,975,340,490,471,328,...,204,530,435,604,277,489,309,365,237,475
comment_y,0,0,1,22,7,6,2,26,2,3,...,0,22,6,6,1,30,1,16,0,0
like_y,16.0,25.0,143.0,534.0,215.0,696.0,47.0,162.0,75.0,42.0,...,18.0,290.0,244.0,363.0,84.0,187.0,115.0,117.0,54.0,136.0
share_y,2.0,5.0,27.0,31.0,47.0,28.0,4.0,7.0,24.0,10.0,...,NaN,98.0,32.0,40.0,13.0,35.0,21.0,30.0,16.0,13.0
Total Interactions_y,18,30,171,587,269,730,53,195,101,55,...,18,410,282,409,98,252,137,163,70,149

### Shape and Reshape

In [31]:
sort_data.shape

(20816, 37)

In [32]:
reshaped_data = pd.melt(sort_data, id_vars=['Type', 'Category_x', 'Post Month_x'], var_name='Variable', value_name='Value')

In [33]:
reshaped_data

         Type  Category_x  Post Month_x              Variable    Value
0        Link           2             3    Page total likes_x  98195.0
1       Photo           1             3    Page total likes_x  98195.0
2       Photo           1             3    Page total likes_x  98195.0
3       Photo           1             3    Page total likes_x  98195.0
4       Photo           1             3    Page total likes_x  98195.0
...       ...         ...           ...                   ...      ...
707739  Photo           1             1  Total Interactions_y    252.0
707740  Photo           1             1  Total Interactions_y    137.0
707741  Photo           1             1  Total Interactions_y    163.0
707742  Photo           1             1  Total Interactions_y     70.0
707743  Photo           2             1  Total Interactions_y    149.0

[707744 rows x 5 columns]

In [48]:
reshaped_data.shape

(707744, 5)

In [1]:
this shell is for theory purpose 

delete it 

Certainly! Let's break down the code step by step:

1. **Importing Libraries**: 
    ```python
    import pandas as pd
    import numpy as np
    ```

    Here, we import the Pandas library and NumPy library with the aliases `pd` and `np`, respectively. Pandas is used for data manipulation and analysis, while NumPy is often used for numerical operations and array handling.

2. **Reading the Dataset**:
    ```python
    df = pd.read_csv('dataset_Facebook.csv')
    ```

    This line reads a CSV file named `'dataset_Facebook.csv'` into a Pandas DataFrame named `df`.

3. **Checking for Missing Values**:
    ```python
    print(df.isnull().sum())
    ```

    This line prints the count of missing values in each column of the DataFrame `df`.

4. **Displaying the First Few Rows**:
    ```python
    df.head(5)
    ```

    This line displays the first five rows of the DataFrame `df`.

5. **Reading the Dataset with a Different Delimiter**:
    ```python
    ds = pd.read_csv('dataset_Facebook.csv', delimiter=';')
    ```

    Here, the dataset is read again, assuming a different delimiter (`;`) for separating values in the CSV file.

6. **Creating Subsets based on a Condition**:
    ```python
    subset1 = ds[ds['Page total likes'] <= 100000]
    subset2 = ds[ds['Page total likes'] > 100000]
    ```

    Two subsets (`subset1` and `subset2`) are created based on the condition of the `'Page total likes'` column.

7. **Merging Subsets**:
    ```python
    merged_data = pd.merge(subset1, subset2, on='Type', how='inner')
    ```

    The subsets `subset1` and `subset2` are merged on the common column `'Type'` using an inner join.

8. **Sorting Data**:
    ```python
    sorted_data = merged_data.sort_values(by='Page total likes_x', ascending=True)
    ```

    The merged data is sorted based on the `'Page total likes_x'` column in ascending order.

9. **Transposing Data**:
    ```python
    transpo_data = sorted_data.transpose()
    ```

    The sorted data is transposed, swapping rows and columns.

10. **Getting the Shape of Data**:
    ```python
    sort_data.shape
    ```

    The shape of the DataFrame `sort_data` is retrieved, indicating the number of rows and columns.

11. **Reshaping Data**:
    ```python
    reshaped_data = pd.melt(sort_data, id_vars=['Type', 'Category_x', 'Post Month_x'], var_name='Variable', value_name='Value')
    ```

    The DataFrame `sort_data` is melted, converting it from wide to long format, with specified identifier variables (`id_vars`) and variable and value names (`var_name` and `value_name`).

12. **Displaying Reshaped Data**:
    ```python
    reshaped_data
    ```

    Finally, the reshaped DataFrame `reshaped_data` is displayed.

Each step performs specific operations on the dataset using Pandas DataFrame methods and functions to manipulate, analyze, and reshape the data.

SyntaxError: unterminated string literal (detected at line 5) (3666284772.py, line 5)